# Server
SERVICE_PORT=3006

# PayOS Configuration
PAYOS_CLIENT_ID=309cd981-25b9-4139-91af-ebc55bf6256e
PAYOS_API_KEY=85fc4cd5-6b4a-4402-ba4d-5ce8a915577b
PAYOS_CHECKSUM_KEY=c028b7bba18cfe4e7dc5dfb5f4fe80a293776fb396eebb48025e5bcdca18aa9f

# Socket Service (HTTP API)
SOCKET_SERVICE_URL=http://localhost:3007

# Logging
LOG_LEVEL=debug
