# App
SERVICE_PORT=1500

# Build Info
CONFIG_BUILD_NUMBER=
CONFIG_BUILD_TIME=

# APISIX Gateway URL (NEXT_PUBLIC_* required for browser access)
NEXT_PUBLIC_API_GATEWAY_URL=https://beta.api.gateway.overate-vntech.com
CONFIG_RESOURCE_URL=https://beta.api.gateway.overate-vntech.com/s3

# Service IDs (NEXT_PUBLIC_* required for browser access)
NEXT_PUBLIC_SVC_ID_ADMIN=1502
NEXT_PUBLIC_SVC_ID_DASHBOARD=1503
NEXT_PUBLIC_SVC_ID_UPLOAD=1505
NEXT_PUBLIC_SVC_ID_OAUTH=1506
NEXT_PUBLIC_SVC_ID_APP_FOOD=1509

# Logger
CONFIG_LOGGER_LEVEL=debug
