# App
SERVICE_PORT=3000
NODE_ENV=development

# API - Development (localhost)
# NEXT_PUBLIC_API_URL=http://localhost:3002/api

# API - Production (server IP: 172.16.10.201)
NEXT_PUBLIC_API_URL=http://172.16.10.201:3002/api

# API App Food - Development (localhost)
# NEXT_PUBLIC_API_APP_FOOD_URL=http://localhost:3010/api

# API App Food - Production (server IP: 172.16.10.201)
NEXT_PUBLIC_API_APP_FOOD_URL=http://172.16.10.201:3010/api
