# App
SERVICE_PORT=3001
NODE_ENV=development

# Build Info
CONFIG_BUILD_NUMBER=
CONFIG_BUILD_TIME=

# API URLs
NEXT_PUBLIC_API_URL=http://172.16.10.201:4000/api/tenant
CONFIG_RESOURCE_URL=

# API App Food
NEXT_PUBLIC_API_APP_FOOD_URL=http://172.16.10.201:3010/api

# Service IDs
CONFIG_NODEJS_ADMIN_SERVICE_ID=
CONFIG_NODEJS_MANAGEMENT_SERVICE_ID=
CONFIG_NODEJS_MEDIA_SERVICE_ID=
CONFIG_NODEJS_OAUTH_SERVICE_ID=

# Logger
CONFIG_LOGGER_LEVEL=debug
