# Database
CONFIG_POSTGRESQL_HOST=172.16.10.146
CONFIG_POSTGRESQL_PORT=5432
CONFIG_POSTGRESQL_USERNAME=techres_master
CONFIG_POSTGRESQL_PASSWORD=techres_master
CONFIG_POSTGRESQL_DB_NAME=techres_master

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=30d
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_REFRESH_EXPIRES_IN=7d

DASHBOARD_API_URL=http://localhost:4002

# API App Food - for syncing food platform accounts
API_APP_FOOD_URL=http://localhost:3010

# App
SERVICE_PORT=3002
NODE_ENV=development
