# Database
DB_HOST=172.16.10.146
DB_PORT=5432
DB_USER=techres_offline_web_admin
DB_PASSWORD=techres_offline_web_admin
DB_NAME=techres_offline_web_admin

# JWT
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=7d




# App
PORT=3002
NODE_ENV=development
